@import "variables";
@import "vendors";
@import "fonts";
@import "helpers";
@import "mixins";

* {
  user-select: none;
}

body {
  font-family: $font-family-archivo;
  color: $color-text;
  min-width: 320px;
}