$font-family-archivo: 'Archivo Black', sans-serif;
$font-family-jetbrains: 'JetBrains Mono', monospace;

$color-black: #000;
$color-dark: #242223;
$color-gray: #454545;
$color-gray-2: #393839;
$color-white: #fff;

$color-background: $color-dark;
$color-text: $color-white;
$color-text-secondary: rgba($color-text, .5);