$font-family-archivo: 'Archivo Black', sans-serif;
$font-family-jetbrains: 'JetBrains Mono', monospace;

$color-black: #000;
$color-black-2: #060606;
$color-black-3: #1a1a1a;
$color-dark: #242223;
$color-gray: #454545;
$color-gray-2: #393839;
$color-gray-3: #6c6c6c;
$color-light-gray: #969696;
$color-light-gray-2: #d9d9d9;
$color-white: #fff;
$color-blue: #367cce;
$color-purple: #7f59ce;

$color-background: $color-dark;
$color-text: $color-white;
$color-text-op-80: rgba($color-text, .80);
$color-text-op-50: rgba($color-text, .5);

$base-animation: ease-in-out 0.15s;